[Unit]
Description=Mobile Connection Service

[Service]
ExecStart=/usr/local/bin/mobileconnd
Restart=on-failure

[Install]
WantedBy=multi-user.target
